services:
  nextcloud:
    image: ghcr.io/linuxserver/nextcloud:32.0.5
    container_name: nextcloud
    environment:
      - PUID=103
      - PGID=996
      - MYSQL_HOST=mariadb
      - MYSQL_DATABASE=${DB_NAME:-nextcloud}
      - MYSQL_USER=${DB_USER:-nextcloud}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - config:/config
      - freezer_vault:/data
    devices:
      - /dev/dri:/dev/dri
    networks:
      - traefik
      - default
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/status.php"]
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.nextcloud.loadBalancer.server.port=443"
      - "traefik.http.services.nextcloud.loadbalancer.server.scheme=https"
      # Local
      - "traefik.http.routers.nextcloud-local.entrypoints=http,https"
      - "traefik.http.routers.nextcloud-local.rule=Host(`nextcloud.fridge.local`)"
      - "traefik.http.routers.nextcloud-local.middlewares=nextcloud_redirectregex@docker"
      # CLoudflare
      - "traefik.http.routers.nextcloud.entrypoints=cloudflare"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.bitbaker.fr`)"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud_redirectregex@docker"
      # Midddlewares
      - "traefik.http.middlewares.nextcloud_redirectregex.redirectregex.permanent=true"
      - "traefik.http.middlewares.nextcloud_redirectregex.redirectregex.regex=https://(.*)/.well-known/(?:card|cal)dav"
      - "traefik.http.middlewares.nextcloud_redirectregex.redirectregex.replacement=https://$${1}/remote.php/dav"

  mariadb:
    image: ghcr.io/linuxserver/mariadb:11.4.8
    #command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    environment:
      - PUID=103
      - PGID=996
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME:-nextcloud}
      - MYSQL_USER=${DB_USER:-nextcloud}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - data:/config
    networks:
      - default
    restart: unless-stopped

  clamav:
    image: docker.io/clamav/clamav:1.5.1
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - default
    restart: unless-stopped

volumes:
  config:
  data:
  freezer_vault:
    external: true

networks:
  default:
  traefik:
    name: traefik
    external: true
