version: '3.8'

services:
  setup:
    image: ghcr.io/pterodactyl/wings:v1.12.1
    environment:
      - WINGS_UID=999
      - WINGS_GID=996
      - PANEL_URL=${PANEL_URL}
      - TOKEN=${TOKEN}
      - NODE=${NODE}
    volumes:
      - "config:/etc/pterodactyl/"
    working_dir: /etc/pterodactyl
    command: ["wings", "configure", "--panel-url", "$PANEL_URL", "--token", "$TOKEN", "--node", "$NODE"]
    restart: no

  wings:
    image: ghcr.io/pterodactyl/wings:v1.12.1
    depends_on:
      - setup
    environment:
      - WINGS_UID=999
      - WINGS_GID=996
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/pterodactyl:/var/lib/pterodactyl"
      - "/var/log/pterodactyl:/var/log/pterodactyl"
      - "/tmp/pterodactyl:/tmp/pterodactyl"
      - "config:/etc/pterodactyl/"
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.pterodactyl-wing.loadBalancer.server.port=80"
      - "traefik.http.routers.pterodactyl-wing-local.entrypoints=http,https"
      - "traefik.http.routers.pterodactyl-wing-local.rule=Host(`pterodactyl-wing.fridge.local`)"
      - "traefik.http.routers.pterodactyl-wing.entrypoints=cloudflare"
      - "traefik.http.routers.pterodactyl-wing.rule=Host(`pterodactyl-wing.bitbaker.fr`)"

volumes:
  config:

networks:
  traefik:
    external: true
