version: '3.8'

services:
  mariadb:
    image: ghcr.io/linuxserver/mariadb:11.4.8
    environment:
      - PUID=999
      - PGID=996
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME:-pterodactyl}
      - MYSQL_USER=${DB_USER:-pterodactyl}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - data:/config
    networks:
      - default
    restart: unless-stopped

  cache:
    image: redis:alpine
    networks:
      - default
    restart: unless-stopped

  panel:
    image: ghcr.io/pterodactyl/panel:v1.12.1
    environment:
      - PUID=999
      - PGID=996
      - APP_KEY=${APP_KEY}
      - APP_ENV=production
      - APP_URL=https://pterodactyl.bitbaker.fr
      - APP_ENVIRONMENT_ONLY=false
      - APP_SERVICE_AUTHOR=admin@bitbaker.fr
      - TRUSTED_PROXIES=*
      - PTERODACTYL_TELEMETRY_ENABLED=false
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_USERNAME=${DB_USER:-pterodactyl}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_NAME:-pterodactyl}
      - CACHE_DRIVER=redis
      - SESSION_DRIVER=redis
      - QUEUE_DRIVER=redis
      - REDIS_HOST=cache

    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "config:/etc/pterodactyl"
    networks:
      - default
      - traefik
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.pterodactyl.loadBalancer.server.port=80"
      - "traefik.http.routers.pterodactyl-local.entrypoints=http,https"
      - "traefik.http.routers.pterodactyl-local.rule=Host(`pterodactyl.fridge.local`)"
      - "traefik.http.routers.pterodactyl.entrypoints=cloudflare"
      - "traefik.http.routers.pterodactyl.rule=Host(`pterodactyl.bitbaker.fr`)"

volumes:
  config:
  data:

networks:
  default:
  traefik:
    name: traefik
    external: true
