version: "3.8"

x-servarr: &config
    environment:
      - PUID=103
      - PGID=996
    networks:
      - traefik
    restart: unless-stopped

services:
  sonarr:
    <<: *config
    container_name: sonarr
    image: ghcr.io/linuxserver/sonarr:4.0.16
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - sonarr_config:/config
      - freezer_media:/media
      - transmission_download:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.entrypoints=http,https"
      - "traefik.http.services.sonarr.loadBalancer.server.port=8989"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.fridge.local`)"

  radarr:
    <<: *config
    container_name: radarr
    image: ghcr.io/linuxserver/radarr:6.0.4
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - radarr_config:/config
      - freezer_media:/media
      - transmission_download:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.entrypoints=http,https"
      - "traefik.http.services.radarr.loadBalancer.server.port=7878"
      - "traefik.http.routers.radarr.rule=Host(`radarr.fridge.local`)"

  lidarr:
    <<: *config
    container_name: lidarr
    image: ghcr.io/linuxserver/lidarr:2.14.5
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - lidarr_config:/config
      - freezer_media:/media
      - transmission_download:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lidarr.entrypoints=http,https"
      - "traefik.http.services.lidarr.loadBalancer.server.port=8686"
      - "traefik.http.routers.lidarr.rule=Host(`lidarr.fridge.local`)"

  readarr:
    <<: *config
    container_name: readarr
    image: ghcr.io/linuxserver/readarr:0.4.18-develop
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - readarr_config:/config
      - freezer_media:/media
      - transmission_download:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.readarr.entrypoints=http,https"
      - "traefik.http.services.readarr.loadBalancer.server.port=8787"
      - "traefik.http.routers.readarr.rule=Host(`readarr.fridge.local`)"

  bazarr:
    <<: *config
    container_name: bazarr
    image: ghcr.io/linuxserver/bazarr:1.5.3
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - bazarr_config:/config
      - freezer_media:/media
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.entrypoints=http,https"
      - "traefik.http.services.bazarr.loadBalancer.server.port=6767"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.fridge.local`)"

  prowlarr:
    <<: *config
    container_name: prowlarr
    image: ghcr.io/linuxserver/prowlarr:2.3.0
    volumes:
      - prowlarr_config:/config
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.entrypoints=http,https"
      - "traefik.http.services.prowlarr.loadBalancer.server.port=9696"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.fridge.local`)"

  flaresolverr:
    <<: *config
    container_name: solverr
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.6
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.solverr.entrypoints=http,https"
      - "traefik.http.services.solverr.loadBalancer.server.port=8191"
      - "traefik.http.routers.solverr.rule=Host(`solverr.fridge.local`)"

  overseerr:
    <<: *config
    container_name: overseerr
    image: ghcr.io/linuxserver/overseerr:1.34.0
    volumes:
      - overseerr_config:/config
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.overseerr.loadBalancer.server.port=5055"
      - "traefik.http.routers.overseerr-local.entrypoints=http,https"
      - "traefik.http.routers.overseerr-local.rule=Host(`overseerr.fridge.local`)"
      - "traefik.http.routers.overseerr.entrypoints=cloudflare"
      - "traefik.http.routers.overseerr.rule=Host(`overseerr.bitbaker.fr`)"

volumes:
  sonarr_config:
  radarr_config:
  lidarr_config:
  readarr_config:
  bazarr_config:
  prowlarr_config:
  overseerr_config:
  freezer_media:
    external: true
  transmission_download:
    external: true

networks:
  traefik:
    name: traefik
    external: true
